<footer class="Footer">
  <div class="Footer-container">

    <div class="Footer-title">
      <p class="text-gray">
        Sorularınız mı var? <a class="text-gray" href="tel:0850-390-7444">0850-390-7444</a> numaralı telefonu arayın
      </p>
    </div>

    <div class="Footer-links">

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          SSS
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Yardım Merkezi
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Hesap
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Medya Merkezi
        </a>
      </div>

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          Yatırımcı İlişkileri
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          İş İmkanları
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Hediye Kartı Kullan
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          İzleme Yolları
        </a>
      </div>

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          Kullanım Koşulları
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Gizlilik
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Çerez Tercihleri
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Kurumsal Bilgiler
        </a>
      </div>

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          Bize Ulaşın
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Hız Testi
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Yasal Hükümler
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Netflix Orijinal İçerikleri
        </a>
      </div>

    </div>

    <div class="Footer-select">
      <select name="" id="">
        <option value="tr">Türkçe</option>
        <option value="en">English</option>
      </select>
    </div>

  </div>
</footer>
