<footer class="Footer">
  <div class="Footer-container">

    <div class="Footer-title">
      <p class="text-gray">
        Sorularınız mı var? <a class="text-gray" href="tel:0850-390-7444">0850-390-7444</a> numaralı telefonu arayın
      </p>
    </div>

    <div class="Footer-links">

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          SSS
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Yardım Merkezi
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Hesap
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Medya Merkezi
        </a>
      </div>

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          Yatırımcı İlişkileri
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          İş İmkanları
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Hediye Kartı Kullan
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          İzleme Yolları
        </a>
      </div>

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          Kullanım Koşulları
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Gizlilik
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Çerez Tercihleri
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Kurumsal Bilgiler
        </a>
      </div>

      <div class="Footer-links-items">
        <a href="#" class="Footer-links-items-item text-gray">
          Bize Ulaşın
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Hız Testi
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Yasal Hükümler
        </a>
        <a href="#" class="Footer-links-items-item text-gray">
          Netflix Orijinal İçerikleri
        </a>
      </div>

    </div>

    <div class="Footer-select">
      <select>
        <option value="tr" selected>Türkçe</option>
        <option value="en">English</option>
      </select>
      <span class="select-arrow">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
            <g>
              <path d="M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782
                c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296
                c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z"/>
            </g>
        </svg>
      </span>
    </div>

    <div class="Footer-auther text-gray">
      Netflix Türkiye
    </div>
  </div>
</footer>
