<section class="Sectiontv">
  <div class="Sectiontv-container">
    <div class="Sectiontv-text">
      <h1 class="Sectiontv-text-title text-white">
        Televizyonunuzda izleyebilirsiniz.
      </h1>
      <h2 class="Sectiontv-text-subtitle text-white">
        Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha fazlasında seyredin.
      </h2>
    </div>
    <div class="Sectiontv-tv">
      <div class="Sectiontv-tv-background">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
        <video class="Sectiontv-tv-background-video" autoplay="autoplay" playsinline="" muted loop="loop">
          <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
