<section class="Sectionmobile">
  <div class="Sectionmobile-container">
    <div class="Sectionmobile-mobile">
      <div class="Sectionmobile-mobile-background">
        <img src="../../../assets/img/mobile.jpg">
      </div>
      <div class="Sectionmobile-mobile-text">
        <div class="Sectionmobile-mobile-text-image">
          <img src="../../../assets/img/boxshot.png" alt="">
        </div>
        <div class="Sectionmobile-mobile-text-title">
          <div class="Sectionmobile-mobile-text-title-title text-white">
            Stranger Things
          </div>
          <div class="Sectionmobile-mobile-text-title-subtitle">
            İndiriliyor...
          </div>
        </div>
      </div>
    </div>
    <div class="Sectionmobile-text">
      <div class="Sectionmobile-text-title text-white">
        Çevrimdışı izlemek için içerikleri indirin.
      </div>
      <div class="Sectionmobile-text-subtitle text-white">
        En sevdiğiniz içerikleri kolayca kaydedin ve her zaman izleyecek bir şeyleriniz olsun.
      </div>
    </div>
  </div>
</section>
