<section class="Sectiontv2">
  <div class="Sectiontv2-container">
    <div class="Sectiontv2-text">
      <h1 class="Sectiontv2-text-title text-white">
        İstediğiniz her yerde izleyin.
      </h1>
      <h2 class="Sectiontv2-text-subtitle text-white">
        Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha fazlasında seyredin.
      </h2>
    </div>
    <div class="Sectiontv2-tv">
      <div class="Sectiontv2-tv-background">
        <img src="../../assets/img/device-pile.png">
        <video class="Sectiontv2-tv-background-video2" autoplay="" playsinline="" muted="" loop="">
          <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
